.common-banner {
  background-image: url("/src/images/service-banner.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 70vh;
}
.common-banner-style {
  background-color: rgba(0, 0, 0, 0.726);
  color: white;
  height: 70vh;
  border-radius: 10px;
}
.common-banner-content {
  padding: 150px 50px;
}
