.common-btn {
  width: 400px;
  padding: 15px;
  border: none;
  color: white;
  border-radius: 10px;
}
.profile-btn {
  padding: 10px 30px;
  border: none;
  color: white;
  border-radius: 10px;
}

@media (max-width: 768px) {
  .common-btn {
    width: 330px;
    padding: 10px;
  }
}
