.visa-card {
  background-color: rgba(247, 247, 247, 1);
  width: 450px;
  padding: 15px;
  border-radius: 10px;
}
.visa-card h6 {
  color: rgba(229, 0, 25, 1);
}
/*  
<Row xs={1} md={2}>
<Col>

</Col>
<Col>

</Col>
</Row>

*/
